.EmailSection {
    display: flex;
    margin-left: 74px;
    margin-right: 74px;
    margin-top: 100px;
}

.EmailSection-left {
    /* background-color: aqua; */
    flex: 1;
    position: relative;
}

.EmailSection-left h1 {
    font-size: 45px;
    font-weight: 500;
}

.EmailSection-left p {
    font-size: 22px;
    font-weight: 300;
}

.thinkingimge {
    margin-left: 280px;
    margin-bottom: 80px;
}

.arrowimge {
    position: absolute;
    right: -37px;
    transform: rotate(216deg);
    top: 106px;
}

.EmailSection-right {
    /* background-color: blue; */
    flex: 2;

}

.emailbox {
    border-radius: 38px;
    box-shadow: 0 0 20px 3px #0f6ad417;
    margin: 60px 20px 20px;
    padding: 20px;

}

.row1 span {
    color: rgb(0, 0, 0);
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
}

.row1 input {
    border: none;
    border-bottom: 1px solid #0000003d;
    color: rgb(0, 0, 0);
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
}

.row2 {
    margin-top: 32px;
}

.row2 span {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
}

.row2 input {
    border-bottom: unset;
    width: 80%;
    border: none;
    border-bottom: 1px solid #0000003d;
    color: rgb(0, 0, 0);
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
    border-radius: 15px;
    box-shadow: 1px 0 8px #80808085;
    padding: 15px 10px;
}

.emailbox button {
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 1rem;
    padding: 15px 60px;
    -webkit-transform: scale(.9);
    transform: scale(.9);
    background: linear-gradient(45deg, #1171d8, #3cc8eb);
    display: table;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .EmailSection {
        margin-top: 0px;
        margin-left: 24px;
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    .EmailSection-left h1 {
        font-size: 39px;
    }
}

@media only screen and (max-width: 600px) {

    .arrowimge,
    .EmailSection-left h1 br,
    .thinkingimge {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .thinkingimge {
        margin-left: 80px;
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 600px) {
    .row1 {
        display: flex;
    }
}

@media only screen and (max-width: 600px) {
    .row1 input {
        width: 39%;
        margin-right: 35px !important;
    }
}

@media only screen and (max-width: 600px) {
    .emailbox {
        margin-bottom: 78px !important;
        margin-left: -4px;
    }
}